.table{
    font-weight: 500;
    font-family: "Times New Roman", Times, serif;
    font-size: x-large;
    color: rgb(1, 1, 31);
    
   
}
.modal-content{
    background: rgb(230, 235, 222);
    background: linear-gradient(90deg,rgb(16, 21, 15)0%,rgb(79, 41, 193)100%);
    color: azure;
}
